* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    
    }

    html{
        font-size:62.5%;
        
    }

    body{
        font-size:1.6rem;
        /* max-width:1080px; */
        /* width:95% */
        /* width:100%; */
    
    }
    .wrapper{
        margin:0 auto;
        max-width:1080px;
        height:auto;
    }
    .pageTitleAndImage{
        background-image: url("../images/world.jpg"); 
        background-repeat: no-repeat;
        min-height: 450px; 
        background-position: top; 
        background-size:cover;
     
    }

    h1{
        font-family: 'Leckerli One', cursive;
        font-size:5rem;
        text-shadow: 5px 5px ghostwhite;
        margin:0px;
        
    }



    #start{
        font-family: 'Leckerli One', cursive;
        font-size:3.5rem;
        margin-top: 200px;
        margin-left: 180px;    
        min-width: 400px;
        height: 60px;
        text-align: center;
        border: none;
        background-color: skyblue;

    }

    #start:hover{
        cursor: pointer;
    }


    .gamepage{
        text-align: center;
    }

    #countDown{
        font-family:'Mogra', cursive;
        font-size:3rem;
    }

    #showQuestion{
        font-family: 'Mogra', cursive;
        font-size:2rem;
        line-height:1px;
        width:95%;
        margin-left:10px;
        text-align:center;
        color: steelblue;
        line-height:35px;
        
    }

    #showAnswer{
        font-family: 'Mogra', cursive;
        text-align: center;
        font-size:3rem;
        margin-top:25px;
    }

    .answeroption{
        margin-top:30px;
    }

    .answeroption:hover{
        cursor: pointer;
        font-size:3.5rem;
        color:cadetblue;
        
    }
        

    

    .gif{
        width:300px;
        height:auto;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: skyblue;
        font-family: 'Leckerli One', cursive;
        font-size: 1.5rem;
        text-align: center;
     }
     

    /* media queries begin */

    @media(min-width:1000px){
        #start{
            margin-top:50px;
            margin-left:-11px;
        }

        .gamepage{
            margin-top:150px;
            margin-bottom:200px;
           
        }
    }

    @media (max-width: 768px) {
      

        #start{
            font-size: 2rem;
            margin-left:40px;
            min-width:0;
            width:75%
        }

        .gamepage{
            margin-top:150px;
            margin-bottom:200px;
        }




    }

  